### Encoding Categorical Column with lots of unique values

[Link to Dataset](https://www.kaggle.com/rouseguy/bankbalanced)

I have used the Feature Hashing technique to implement Categorical Encoding.  In this scheme, a hash function is typically used with the number of encoded features pre-set such that the hashed values of the features are used as indices in this pre-defined vector. Thus even if we have over 1000 distinct categories in a feature and we set n_component=10 as the final feature vector size, the output feature set will still have only 10 features as compared to 1000 binary features if we used a one-hot encoding scheme.

In [1]:
#importing important libraries
import pandas as pd
from category_encoders import HashingEncoder

In [2]:
df_raw = pd.read_csv('train.csv')

In [3]:
#I have treated 'balance' as the target column
df_raw = df_raw[['balance','age','education','previous','campaign']]

In [4]:
#Converting two of the columns to category type
df_raw['age'] = df_raw['age'].astype('category')
df_raw['education'] = df_raw['education'].astype('category')

In [7]:
def encoding(a):
    if df_raw.iloc[:,a].dtype == 'int':
        return None
       
    elif df_raw.iloc[:,a].dtype == 'category':
        df = pd.DataFrame(df_raw.iloc[:,a])
        n_component = 10
        columns = [i for i in df.columns]
        hashing_encoder = HashingEncoder(cols=columns, n_components=10).fit(df)
        #n_components is the number of new columns that will be formed
        df_hash = hashing_encoder.transform(df.reset_index(drop=True))
        return df_hash

In [8]:
#Pass the column number for which categorical encoding needs to be performed
result=encoding(1)

In [9]:
result

       col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0          0      0      0      0      1      0      0      0      0      0
1          1      0      0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      1      0      0      0
3          0      0      0      1      0      0      0      0      0      0
4          0      0      0      0      1      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
11157      0      0      0      0      1      0      0      0      0      0
11158      0      0      0      0      0      0      1      0      0      0
11159      0      0      0      0      0      0      0      0      0      1
11160      0      0      0      0      0      1      0      0      0      0
11161      0      0      0      1      0      0      0      0      0      0

[11162 rows x 10 columns]